div{
    background-color: bisque;
    text-align: center;
    padding: 15px 20px 45px 20px;
}
div h1{
    font-size: 40px;
}
div button{
    padding: 15px 20px;
    border: none;
    box-shadow: 0 0 5px black;
    font-size: 18px;
    background-color: white;
}